<h1>質問詳細</h1>
<!-- questionここから -->
<div>
  <div>
    <div>
      <%= @question.title %>
    </div>
    <div>
      <%= @question.body %>
    </div>
  </div>

  <div>
    <%= link_to '編集', edit_question_path(@question.id), class:"" %>
  </div>
  <div>
    <%= link_to '削除', question_path(@question.id), method: :delete, class:"" %>
  </div>
</div>
<!-- questionここまで -->

<!-- answerここから -->
<div>
  <h3>回答</h3>
  <% @question.answers.each do |answer| %>
    <div>
      <%= answer.user.name %><%= answer.created_at.strftime('%Y/%m/%d') %>
      <%= answer.body %>
    </div>
    <div>
      <% if answer.user == current_user %>
        <%= link_to "削除", question_answer_path(answer.question, answer), method: :delete %>
      <% end %>
    </div>
  <% end %>

  <h3>回答作成</h3>
  <div>
    <%= form_with(model:[@question, @answer], local:true) do |f| %>
      <%= f.text_area :body, rows:'5',placeholder: "回答をここに" %>
      <%= f.submit "回答する" %>
    <% end %>
  </div>
</div>
<!-- answerここまで -->