<div class="login">
  <h2 class="login__title">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login__list">
    <%= f.label "メールアドレス", class:"login__label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login__field" %>
  </div>

  <div class="login__list">
    <%= f.label "パスワード", class:"login__label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"login__field" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class:"btn login__btn" %>
  </div>
  <% end %>

</div>
