<div class="top">
  <h2 class="top__title">内容確認</h2>
</div>

<%= form_with model: @inquiry, url: inquiry_thanks_path, local: true do |inquiry| %>
<div class="area">
  <div class="edit">
    <div class="edit__item">
      <label class="edit__label">名前<span>(必須)</span></label>
      <p class="confim-text">
        <%= inquiry.hidden_field :name %>
        <%= @inquiry.name %>
      </p>
    </div>

    <div class="edit__item">
      <label class="edit__label">メールアドレス<span>(必須)</label>
      <p class="confim-text">
        <%= inquiry.hidden_field :email %>
        <%= @inquiry.email %>
      </p>
    </div>

    <div class="edit__item">
      <label class="edit__label">お問い合わせ内容</label>
      <p class="confim-text">
        <%= inquiry.hidden_field :message %>
        <%= simple_format(@inquiry.message) %>
      </p>
    </div>

    <div class="edit__item">
      <%= inquiry.submit '送信', class:"edit__btn" %>
    </div>
  </div>
</div>
<% end %>
