<div class="top">
  <h2 class="top__title">お問い合わせ記入</h2>
</div>

<%= form_with model: @inquiry, url: inquiry_confirm_path, local: true do |inquiry| %>
<div class="area">
  <% if @inquiry.errors.any? %>
    <strong>入力内容にエラーがあります</strong>
    <% @inquiry.errors.each do |attr, msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <div class="edit">
    <div class="edit__item">
      <label class="edit__label">名前<span>(必須)</span></label>
      <%= inquiry.text_field :name, class: "edit__text" %>
    </div>

    <div class="edit__item">
      <label class="edit__label">メールアドレス<span>(必須)</label>
      <%= inquiry.text_field :email, class: "edit__text" %>
    </div>

    <div class="edit__item">
      <label class="edit__label">お問い合わせ内容</label>
      <div><%= inquiry.text_area :message, class: "edit__body", wrap:"hard" %></div>
    </div>

    <div class="edit__item">
      <%= inquiry.submit '確認', class:"edit__btn" %>
    </div>
  </div>
</div>
<% end %>
