<h1>投稿一覧</h1>
<div>
  <%= link_to "新規記事作成", new_report_path, class:"" %>
</div>

<!-- 投稿一覧 -->
<div>
  <% @reports.each do |report| %>
  <div>
    <%= link_to report.title, report_path(report.id) %>
  </div>
  <div>
    <p><%= report.body %></p>
  </div>
  <div id="report_<%= report.id %>">
    <%= render 'report', report: report %>
  </div>
  <% end %>
</div>