<div class="top">
  <div class="top__item btn">
    <%= link_to "新着順", reports_path, class:"top__text" %>
  </div>
  <div class="top__item btn">
    <%= link_to "ランキング順", rank_reports_path, class:"top__text" %>
  </div>
  <div class="top__item top__item--right">
    <%= link_to " ➕ ", new_report_path, class:"top__btn" %>
  </div>
</div>

<!-- 投稿一覧 -->
<div class="area">
  <% @reports.each do |report| %>
    <div class="note">
      <p class="note__head">
        <%= link_to report.title, report_path(report.id), class: "note__title" %>
      </p>

      <p class="note__main">
        <%= truncate(report.body, omission: '...', separator: ' ') %>
      </p>

      <div class="note__foot">
        <p id="report_<%= report.id %>" class="note__foot-left">
          <%= render 'report', report: report %>
        </p>
        <p class="note__foot-center">
          <span class="note__name">
            <%= link_to report.user.name, user_path(report.user.id), class: "note__name-link" %>
          </span>
        </p>
        <div class="note__foot-right">
          <span class="note__date"><%= report.updated_at.strftime('%Y/%m/%d') %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>