<% if user_signed_in? %>
  <% if @report.user_id == current_user.id %>
    <div class="top">
      <div class="top__item btn">
        <%= link_to '編集', edit_report_path(@report.id), class:"top__text" %>
      </div>
      <div class="top__item btn">
        <%= link_to '削除', report_path(@report.id), method: :delete, class:"top__text" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="area">
  <div class="post">
    <div class="post__head">
      <div class="post__head--trim">
        <%= attachment_image_tag @report.user, :profile_image, fallback: "no_image.jpg", class:"post__head--trim-img"; %>
      </div>
      <span class="post__head--left">
        <%= link_to @report.user.name, user_path(@report.user.id), class: "note__name-link" %>
      </span>
      <span class="post__head--right">更新：<%= @report.updated_at.strftime('%Y/%m/%d') %></span>
    </div>

    <div class="post__title">
      <%= @report.title %>
    </div>

    <div class="post__body">
      <div class="post__body-top"><%= attachment_image_tag @report, :report_image, class:"post__body-img" %></div>
      <%= safe_join(@report.body.split("\n"),tag(:br))%>
    </div>

  </div>

  <div class="post__unit">
    <p>いいね！</p>
    <div id="report_<%= @report.id %>">
      <span class="post__like"><%= render 'report', report: @report %></span>
    </div>
  </div>

</div>